<div class="edit-form">
  <%= form_for(@picture, url: picture_path) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, class:"title-field" %>
    <br />
    <%= f.label :content %>
    <%= f.text_area :content, class:"content-field" %>
    <br />
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
    <%= f.submit "投稿", class:"btn btn-primary" %>
  <% end %>
</div>