<div class="index-container">
  
<div id="page-top-btn" class="page-top-btn">
  <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>

<section class="main-header">
  <p class="flash"><%= notice %></p>
</section>

<div class="index-form">
<h3>投稿一覧</h3>
<%#<%= link_to "ブログを作成する", new_picture_path, class: "btn btn-default" %>
<% @pictures.each do |picture| %>
<div class="index-set">
<%= picture.created_at %>
<%= picture.user.name %>が投稿しました。
<br />
<h4><%= picture.title %></h4>
<h5><%= picture.content %></h5>
<%= image_tag(picture.image) %><br /><br />
<%= link_to "詳細へ", picture_path(picture.id), class:"btn btn-info" %>
</div>
<% end %>
</div>

</div>
