<div class="new-form">
  <%= form_for(@picture, url: confirm_pictures_path) do |f| %>
    <% if @picture.errors.any? %>
      <div class="error-explanation">
        <h3><%= @picture.errors.count %>件のエラーがあります。</h3>
        <ul>
          <% @picture.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.label :title %><br />
    <%= f.text_field :title, class:"title-field" %>
    <br /><br />
    <%= f.label :content %><br />
    <%= f.text_area :content, class:"content-field" %>
    <br />
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
    <br />
    <%= f.submit "投稿", class:"btn btn-primary" %>
  <% end %>
</div>